{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/app/pages/content.css' %}">
{% endblock %}

{% block content %}
{% include "layout/page_hero.html" with hero_title="دانشگاه ها" crumb2_label="دانشگاه ها" crumb2_url_name="schools_list" %}

<section class="blog_area section_padding universities_margin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mb-5 section-heading">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img class="card-img rounded-0" src="{% static 'img/blog/single_blog_2.png' %}" alt="">
                        <a class="blog_item_date"><h3>هند</h3></a>
                    </div>
                    <div class="blog_details">
                        <a class="d-inline-block" href="{% url 'blog' %}">
                            <h2>مؤسسه فناوری ماساچوست</h2>
                            <p>دانشگاه فناوری ماساچوست که آن را به‌اختصار ام‌آی‌تی (MIT) می‌نامند، در بین بهترین دانشگاه‌های جهان رتبه‌ی اول را به خود اختصاص داده است.</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 mx-auto mb-5 section-heading">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img class="card-img rounded-0" src="{% static 'img/blog/single_blog_1.png' %}" alt="">
                        <a class="blog_item_date"><h3>آمریکا</h3></a>
                    </div>
                    <div class="blog_details">
                        <a class="d-inline-block" href="{% url 'blog' %}">
                            <h2>مؤسسه فناوری ماساچوست</h2>
                            <p>دانشگاه فناوری ماساچوست که آن را به‌اختصار ام‌آی‌تی (MIT) می‌نامند، در بین بهترین دانشگاه‌های جهان رتبه‌ی اول را به خود اختصاص داده است.</p>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}
