{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/app/pages/content.css' %}">
{% endblock %}

{% block content %}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Elements</h2>
                        <p><a href="{% url 'index' %}">صفحه اصلی</a><span>/</span>Elements</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">Text Sample</h3>
        <p class="sample-text">
            موسسه {{ institute.name }} با مجوز رسمی وزارت علوم، آماده ارائه خدمات مشاوره و اعزام دانشجو در رشته‌های مختلف تحصیلی به کشورهای مختلف است.
        </p>
    </div>
</section>

<section class="advance_feature learning_part elements_services_margin">
    <div class="container">
        <div class="section_tittle text-center">
            <h2>بهترین خدمات ما</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="feature_box">
                    <span class="ti-comments-smiley feature_icon"></span>
                    <h4>مشاوره رایگان</h4>
                    <p>تیم ما با ارائه مشاوره‌های کامل، تمام تلاش خود را جهت رضایت و تسهیل روند مهاجرتتان می‌کند.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="feature_box">
                    <span class="ti-email feature_icon"></span>
                    <h4>مکاتبه با دانشگاه‌ها</h4>
                    <p>با برقراری ارتباط با بهترین دانشگاه‌ها و اساتید مجرب، بهترین محل تحصیل را برای شما فراهم خواهیم کرد.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="feature_box">
                    <span class="ti-crown feature_icon"></span>
                    <h4>اخذ بورسیه</h4>
                    <p>ما در مسیر اخذ بورسیه تحصیلی با تمام توان همراه شما خواهیم بود.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
